*:root {
  --red-color: rgb(255, 109, 109);
}

body {
  background-color: rgb(167, 47, 47);
}

.navbar-brand {
  color: white !important;
  font-weight: 600s;
}

.nav-link {
  color: white !important;
  text-shadow: 0 0 0.4px black;
  padding: 0.3rem 0.5rem;
  border: 2px solid var(--red-color);
  border-radius: 3px;
  margin: 0 0.4rem;
}

.nav-link:hover {
  background-color: var(--red-color);
}

.active {
  font-weight: 500;
  background-color: var(--red-color);
  box-shadow: 0 0 5px rgb(127, 127, 127);
}

.card {
  width: 20rem;
  background-color: #ffdddd;
}